<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>tasmim_policy_installer</name>
    <displayName><![CDATA[Tasmim Policy Installer]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Installs policy CMS pages (Privacy Policy, Terms, etc.) in multiple languages. Reusable across Tasmim themes.]]></description>
    <author><![CDATA[Tasmim]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
