<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>tasmim_consent_policy_manager</name>
    <displayName><![CDATA[Tasmim Consent & Policy Manager]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[Manages policy CMS pages, GDPR consent messages, and EU-compliant cookie consent banner with Google Consent Mode v2.]]></description>
    <author><![CDATA[Tasmim]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
